# SPDX-FileCopyrightText: 2025 Tymoteusz Blazejczyk <tymoteusz.blazejczyk@tymonx.com>
# SPDX-License-Identifier: Apache-2.0

# Ignore all
*

# Except the following
!*/
!.gitignore
!*.toml
!*.yaml
!*.vhdl
!*.vhd
!*.yml
!*.tcl
!*.svh
!*.txt
!*.sv
!*.py
!*.md
!*.vh
!*.v
